@use '../../assets/styles/mixins' as mixin;

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--gray-3);
    color: white;
    .optionPcHeader {
        display: flex;
    }

}

.h2 {
    color: white;
}

.number {
    background-color: #CB3028;
    width: 25px;
    height: 25px;
    color: white;
    position: absolute;
    margin-top: -29px;
    margin-left: 98px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnoption {
    display: none;
    @include mixin.xxl {
        display: block;
        font-size: 1.5em;
        cursor: pointer
    }
    &:hover {
        opacity: 0.5;
    }
}