body {
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
ul,
button,
span {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-family: 'PT Sans Caption', sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}


a {
  list-style: none;
  text-decoration: none;
}